@charset "utf-8";

html,body{ height:100%;	margin:0; overflow:hidden; font-family:Tahoma, Geneva, sans-serif; font-size:11px; cursor:default !important; }
A:link { text-decoration: none;	cursor:default;	color:#333;	}
A:visited {	text-decoration: none }
ul{	list-style-type:none; padding:0; display:block;	float:right;}
li{	list-style-type:none; }
	
	/*scroll bar for webkit browsers*/
::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); border-radius: 0px; background-color:#E1E1E1; }
::-webkit-scrollbar-thumb { border-radius: 0px; -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); background-color:white; }
::-webkit-scrollbar-button:vertical:start:decrement{ display: block; background-image:url(../arrow.png); background-position:center; }
::-webkit-scrollbar-button:vertical:end:increment { display: block;	background-image:url(../arrowb.png); background-position:center; }
::-webkit-scrollbar-button:horizontal:start:decrement{ display: block; background-image:url(../arrow-l.png); background-position:center; }
::-webkit-scrollbar-button:horizontal:end:increment { display: block; background-image:url(../arrow-r.png); background-position:center; }

	/*Page Container*/
#maincontainer{ height:100%; }

	/*Top Container - For Menu*/
#top{ margin:0;	width:100% !important; overflow-x:hidden; -webkit-overflow-scrolling: touch; }
	
	/*Tabs*/
#menucontainer{	width:100%;	position:relative; }
#tabcontainer{ border-bottom:thin #CCC solid; padding-top:0px; margin:0; height:24px; }
.tab{ font-family:"Segoe UI"; margin:0;	height:19px; color:#666; font-size:12px; display:inline-block; background-color:#FFF; cursor:default; padding:2px 15px 2px 15px; }
.tab:hover{	color:#03F;	}
.tabclicked{ background-color:#FFF;	border:thin #ccc solid;	border-bottom:#FFF thin solid; color:#03F; font-weight:bold; }
#file{ display:inline-block; background-color:#03F;	color:#fff;	cursor:default;	border:thin #03F solid;	border-bottom:none;	}
.tab-page{ display:none; }
#page-tab-home{	display:inherit;}
#page-tab-sendreceive{ height:95px; padding-top:0px; border-bottom:#CCC thin solid; }
#page-tab-folder{ height:95px;	padding-top:0px; border-bottom:#CCC thin solid;	}
#page-tab-view{	height:95px; padding-top:0px; border-bottom:#CCC thin solid; }
#page-tab-home{ height:95px; padding-top:0px; border-bottom:#CCC thin solid; }

#hide{width:29px; height:22px; background:url(../mailup.png); position:absolute; bottom:1px; right:0; }
#hide:hover{ background:url(../mailup-hover.png); 
}
	/*Middle Container*/
#middle{ margin-top:1px; }
	
	/*Bottom Container*/
#bottom{ position:absolute;	width:100%;	bottom:0; background-color:#030; overflow:hidden; font-family:"Segoe UI Light";	}
.bottommenu{ background-color:#06F;	width:100%;	color:#FFF;	font-family:Tahoma, Geneva, sans-serif;	font-size:11px;	padding:5px; height:22px; overflow:hidden; }
.bottommenuright{ float:right; overflow:hidden;	padding-right:15px;	}
.mcptcontainer{	background-color:#E1E1E1; font-size:24px; color:#999; padding:5px; padding-left:20px; overflow:hidden; width:100%; }
.mcptcontainer A:hover{	color:#399; } 

	/*Left Sidebar*/
#foldermenu{ float:left; border-right:thin solid #ccc; height:inherit; width:36px; text-align:center;}
#ExpandFolder{ height:20px;	width:100%;	cursor:default;	background:url(../expand.png) no-repeat center top; }
#ExpandFolder:hover{ width:100%; cursor:default; background:url(../expand-h.png) no-repeat center top;	}
.ExpandedFolder{ width:100%; cursor:default; background:url(../expanded.png) no-repeat right top !important; }
.ExpandedFolder:hover{ width:100%; cursor:default; background:url(../expanded-h.png) no-repeat right top !important; }
#foldermenu img{ float:right; }
#menubarbig{ display:none; text-align:left; white-space:nowrap; }
#foldermenu{ font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#333; }
#foldermenu ol{ padding-left:16px; margin-top:0;}
#foldermenu ol:first-child{border-bottom:thin #ccc solid; padding-bottom:10px;}
#foldermenu ol li{ list-style-image:none; line-height:20px; margin-left:16px; margin-right:20px;  }
#foldermenu ol li:first-child{ list-style-image:url(../buttonopened.png)}
#foldermenu li:hover{ background-color:#e6f2fa !important }

	/*Inbox*/
#inbox{	float:left;	height:inherit;	width:300px; background-color:#FFF; padding-right:10px; border-right:thin #CCC solid; }
#inboxcontrols{	position:fixed;	width:inherit;	}
#inboxcontainer{ position:relative;	height:100%; overflow-y:auto; -webkit-overflow-scrolling: touch; overflow-x:hidden !important; }
#inboxsearch{ padding-top:5px; padding-bottom:5px; padding-left:15px; }
.header{ background-color:#E1E1E1; background-image:url(../buttonopened.png); background-repeat:no-repeat;	background-position:center left; color:#444444; margin:10px; margin-top:0; margin-bottom:1px; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; font-size:11px;	padding:5px; text-indent:15px; cursor:default; }
.detailcontainer{ height:auto; overflow:hidden; }
.details{ background-color:#FFF; margin-left:10px; margin-right:10px; font-family:"Segoe UI Light"; padding-bottom:10px; text-indent:20px; }
.details H1{ color:#333; font-size:16px; font-weight:normal; margin:0px;overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; width: 100%;  }
.details H2{ color:#333; font-size:12px; font-weight:200;	margin:0px;	line-height:10px; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.details H3{ color:#999; font-size:12px; font-weight:normal; margin:0px; overflow:hidden;	white-space:nowrap;	text-overflow: ellipsis; }
.details:hover{	background-color:#E6F2FA; background-image:url(../rightselect.png), url(../selected.png);	background-position:top right, left; background-repeat:no-repeat, repeat-y; }
.ibxcontain{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none; user-select: none; }

	/*Message Viewer*/
#message{ float:left; height:inherit; padding-left:5px;	padding-right:3px; padding-top:10px;}
#messagecontainer{ overflow-y:auto; -webkit-overflow-scrolling: touch; }
#messageheader{ background-color:#FFF; color:#666; font-weight:normal !important; }
#messageheadercontrols li{ display:inline; }
#messageheader #dtls h1{ font-size:11px; font-weight:normal; margin-top:5px; margin-bottom:5px; }
#messageheader #dtls h2{ font-size:14px; font-weight:lighter; margin-top:5px; margin-bottom:5px;}
#messageheader #dtls h3{ font-size:11px; margin:0; }
#dtls{ background:url(../icos/person.png) top left no-repeat; margin-bottom:15px; margin-top:15px; padding-left:65px;}


/*Menu development - probably will change it anyway*/
/*top*/
.container{
	width:1333px !important;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	}
.coninner{
	float:left;
	padding:4px;
	border-right:thin solid #E1E1E1;
	position: relative;
	height:83px;
	}
.coninner ul{
	margin-top:0;
	}
.contitle{
	width:100%;
	text-align:center;
	position:absolute;
	bottom:1px;
	font-size:11px;
	color:#000;
	}
#findfield{
	width:95px;
	height:13px;
	color:#666;
	font-size:12px;
	}

.screencover{
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:990;
	}
#inboxsearch input{
	height:10px;
	}
.popup{
	position:absolute;
	background:#FFF;
	border:#E1E1E1 solid thin;
	margin:0;
	padding:0;
	z-index:991;
	}
.popup:li{
	line-height:0;	
	}
.hrr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.mlloading{
	background-color:#FFF;
	height:inherit;
	z-index:999;
	position:fixed;
	width:inherit;
	}
.mlloading p{
	position:absolute;
	top:25%;
	width:inherit;
	text-align:center;
	font-size:24px;
	color:#999;
	font-family:"Segoe UI Light" !important;
	}

/*buttons*/
#but{
	width:42px;
	height:69px;
	border:none;
	margin:0;
	padding:0;
	background-position:top left;
	}
